<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214628660598-tsgi40i27v2lvehc59e4j2s6in4ml9f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214628660598-tsgi40i27v2lvehc59e4j2s6in4ml9f0</string>
	<key>API_KEY</key>
	<string>AIzaSyBCqVU2b02H5rZZa789Zmd9LMocdXhp28E</string>
	<key>GCM_SENDER_ID</key>
	<string>214628660598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.popos.posapp</string>
	<key>PROJECT_ID</key>
	<string>popos-ed5b4</string>
	<key>STORAGE_BUCKET</key>
	<string>popos-ed5b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214628660598:ios:bd5c03921370551486b657</string>
</dict>
</plist>